name: On Release

on:
  release:
    types:
      - published

jobs:
  hex-publish:
    uses: georgeguimaraes/workflows/.github/workflows/on-release-published.yml@main
    with:
      tag: ${{ github.event.release.tag_name }}
    secrets:
      hex-api-key: ${{ secrets.HEX_API_KEY }}
