name: Release Please

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    uses: georgeguimaraes/workflows/.github/workflows/release-please.yml@main
